<ng-container *ngrxLet="model1$; let feature1">
    <section style=" height: 150vh; text-align: center; margin-top: 80px">
      <button (click)="getDebuggingLog()" class="btn btn-primary m-2">LOG debugging session from devtool</button>
      <a  [href]="href | bypassSecurity" *ngIf="storeDevToolIsPresent" download="report.txt">Download report.txt</a>
      <br>
      <div> Loading State: {{loadingState$ | async}}</div>
      <div>{{getTestValue}}</div> <button (click)="setNewVal()">add +1</button>

      <button (click)="startLoading()" class="btn btn-primary m-1">Start Loading</button>
      <button (click)="stopLoading()" class="btn btn-primary m-1">Stop Loading</button>
      <button (click)="downloadModel1()" class="btn btn-secondary m-1">Download Model1</button>
      <button (click)="logUrl()" class="btn btn-secondary">Consol log  actual url</button>
      <br><br>
      <pre>model1:{{feature1|json}}</pre>
    </section>
  </ng-container>
